*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
app/release/
/app/google-services.json
app/src/main/res/values/tmdb.xml
*google-services.json
